.semester {
	position: fixed;
    bottom: 0px;
    width: fit-content;
    min-width: 80%;
    height: 245px;
    overflow-x: scroll;
    overflow-y: scroll;

}

.semester_tables {
	min-height: 180px !important;
}

.semester_rows {
	height: 30px !important;
	padding: 8px !important;
    line-height: 1.42857 !important;
    vertical-align: top !important;
    border-bottom: 1px solid #ddd !important;
}

.scroller {
	max-height: 220px;
	overflow: scroll;
	background-color: white;
}

.classList {
	height: 100%;
	overflow-y: scroll;
}